/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.navigate >a, .logo{
	display:inline-block;
}
nav >a{
	margin: 0 0 0 80px;
	color:grey;
	text-decoration:none;
}
nav a:hover{
	color:blue;
}
.logo{
	margin: 0 0 0 80px;
}
.left, .img-box, .left-box, .right-box{
	display:inline-block;
	width:49%;
	margin: 0 0 0 10px;
}

.text-box p{
	font-size:60px;
	width:49%;
	padding:75px;
	margin: 0 0 0 120px;
	text-transform:uppercase;
	font-family: Bangers, cursive;
}
.second-section{
	margin:46px;
}
#button{
	margin:0 0 0 37%;
	width:25%;
	height:35px;
	padding: 8px 0 0 0;
	text-align:center;
	font-size:19px;
	border: 1.5px solid black;
}
.bottom-txt{
	display:inline-block;
	width:30%;
	margin: 10px 0 100px 10px;
}
.middle-img{
	width:97%;
	margin: 10px 0 10px 10px;
}
.sixth-section{
	width:100%;
	height:20%;
	margin: 45px 0 10px 10px;
}
.street, .phone-number, .email{
	margin:0 0 20px 0;
}
.footer-section{
	text-align:center;
	margin:10px 0 200px 0px;
}
hr{
	width:95%;
	
}
.third-section{
	margin:35px 0 0 0;
}
.header{
	text-align:center;
}
